.button {
  padding: 0.2rem 0.4rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.1),
    inset 1px 1px 1px 1px rgba(255, 255, 255, 0.2);
  transition: all ease-in-out 50ms;
  min-width: 3rem;
}

.button:hover:not(:disabled) {
  scale: 1.02;
}
.button:active:not(:disabled) {
  scale: 0.98;
}

.isLoading,
.button:disabled {
  filter: grayscale(80%);
}

.loading {
  cursor: wait;
  background-color: rgb(209, 209, 209);
}

.info {
  color: white;
  background-color: rgb(157, 154, 161);
}

.action {
  color: white;
  background-color: rgb(76, 128, 202);
}

.destructive {
  color: white;
  background-color: rgb(189, 73, 122);
}
